.user {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  animation: smooth-entry 0.3s;
  text-transform: uppercase;
}

.user-avatar {
  width: 36px;
  height: 36px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.user-name {
  background-color: white;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  top: -25px;
  font-weight: bold;
  font-size: 14px;
}

@keyframes smooth-entry {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
