.app-body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 40px;
  text-align: center;
}

.modal-styles {
  padding: 0 80px;
}

#modal-header {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 16px;
}

.name-box {
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
  align-self: center;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.modal-footer {
  border-top: none;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 6px;
}

.modal-footer button {
  font-weight: 600;
}
