.modal-content {
  align-items: center;
  border-radius: 40px;
  text-align: center;
  min-width: 360px;
}

.modal-styles {
  padding: 0 120px;
}

#modal-header {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 16px;
}

.name-box {
  align-self: center;
  border: none;
  border-bottom: 1px solid black;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 6px;
  text-align: center;
  width: 100%;
}

.modal-footer {
  border-top: none;
  justify-content: center;
  margin-bottom: 6px;
  margin-top: 20px;
}

.modal-footer button {
  font-weight: 600;
}

.row-container {
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.row-container > p {
  font-size: 1.1em;
  font-weight: bold;
  transform: translateY(8px);
}
