.row-flex {
  background-color: white;
  border-radius: 40px;
  display: flex;
  gap: 10px;
  left: 20px;
  max-width: 100%;
  min-width: 10%;
  padding: 10px 0 10px 20px;
  position: fixed;
  top: 40px;
  width: 250px;
  z-index: 1000;
}

.input-name {
  border: 1px solid transparent;
  font-weight: bold;
  color: inherit;
  outline: none;
  width: 50%;
}

.input-name::placeholder {
  color: inherit;
}

.appear-on-left {
  left: 20px;
  position: fixed;
  top: 100px;
  width: fit-content;
}
