:root {
  --chat-width: min(25vw, 300px);
}

.column-flex {
  background-color: white;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  right: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: var(--chat-width);
  z-index: 1000;
}

.chat-header {
  background-color: #5a5abe;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.chat-header h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: white;
}

.chat-body {
  background-color: white;
  height: 50vh;
  overflow-y: scroll;
}

.message-list {
  list-style-type: none;
}

.chat-name {
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

.chat-bubble {
  position: relative;
  background: #00aabb;
  width: 80%;

  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;

  font-size: 12px;
  color: white;
  text-align: left;

  border-radius: 1em;
}

.chat-form {
  background-color: white;
  flex-direction: row;
  display: block;
  margin-bottom: 0;
}

.chat-form-input {
  font-style: normal;
  font-size: 0.9em;
  line-height: 33px;
  margin-bottom: 0;
  width: 100%;
  padding-left: 6px;
  border: none;
  background-color: inherit;
}

.standard-row {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: #f8f8f8;
  padding: 0 14px;
}

.appear-bot-right {
  right: 20px;
  position: fixed;
  bottom: 100px;
  width: fit-content;
}
